
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
    line-height: 1.6;
    color: #fff;
    background-color: #212121;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin: 2rem 0;
    text-align: center;
    color: #4a86e8;
    font-weight: 700;
}
div {
    margin: 0 auto;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 4rem auto;
    padding: 2rem;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: grid;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    color: #aaa;
}

input,
select {
    padding: 0.5rem;
    border: 1px solid #555;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

#reportOutput {
    max-width: 80rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    overflow: auto;
    white-space: pre-wrap;
}

#reportOutput table {
    width: 100%;
    border-collapse: collapse;
}

#reportOutput th,
#reportOutput td {
    padding: 0.5rem;
    border: 1px solid #444;
    text-align: left;
    color: #fff;
}

#reportOutput th {
    background-color: #4a86e8;
    color: #fff;
}

#reportOutput tr:nth-child(even) {
    background-color: #444;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    form {
        max-width: 90%;
    }
}


.container {
    margin: 0.25rem;
    align-content: center;
    display: grid;
    flex-direction: column;
}

.container label {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    color: #aaa;
}

.container input,
.container select {
    padding: 0.5rem;
    border: 1px solid #555;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

.container button {
    background-color: #4a86e8;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 700;
}

.container button:hover {
    background-color: #325c9f;
}
